@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@media screen and (min-width: 768px) {
    #my-model2{
        width: 500px;
        height: 400px;
        top: 50%;
        right: -5% ;
        transform: translate(-50%, -50%);
        position: fixed;
    }
    .model{
        right: 10vw;
        top: 10vh;
    }
    .frontend span img{
        width: 60px;
    }
    .frontend-skill-cont{
        gap: 10%;
    }
    .skills-aa{
        
    }
}