@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

@media screen and (min-width: 920px) {
  #heroModel {
    width: 500px;
    height: 400px;
    top: 30%;


  }
  .model {
    top: 15vh;

    right: 0;
  }
  .hero-img {
    right: 0;
  }
  .frontend span img {
    width: 60px;
  }
  .frontend-skill-cont {
    gap: 3%;
  }
  .skills-aa {
    width: 60%;
  }
  .exp-cont {
    margin: 150px 0;
  }
  .skill-item {
    width: 210px;
  }
}
